body {
    background: #808080;
    font-family: sans-serif;

}
.container {
    background-color: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
}
.btn{
    border: none;
    padding: 5px;
    border-radius: 20px;
}
.btn-green{
    background-color: green;

    color: white;
}
.btn-orange{
    background-color:orange;
    
    color: white;
}
.btn-purple{
    background-color:purple;
    
    color: white;
}